<div class="columns is-multiline is-centered">
  <div class="column is-7 has-text-centered">
    <%= image_tag "logo-menu.png" %>
  </div>

  <div class="column is-7 has-text-white-ter">
    <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), local: true) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: "input" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button is-success is-outlined is-fullwidth is-uppercase" %>
      </div>
    <% end %>
  </div>

  <div class="column is-7 has-text-centered">
    <%= render "devise/shared/links" %>
  </div>
</div>