<div class="columns is-multiline is-centered">
  <div class="column is-7 has-text-centered">
    <%= image_tag "logo-menu.png" %>
  </div>

  <div class="column is-7 has-text-white-ter">
    <%= form_with(model: resource, as: resource_name, url: user_session_path(resource_name), local: true) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Login", class: "button is-success is-outlined is-fullwidth is-uppercase" %>
      </div>
    <% end %>
  </div>

  <div class="column is-7 has-text-centered">
    <%= render "devise/shared/links" %>
  </div>
</div>