<!DOCTYPE html>
<html class="has-background-black-ter has-text-white-ter">
  <head>
    <title>OneBitMessenger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-widthm initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-text-white-ter">
    <% if user_signed_in? %>
      <nav class="navbar has-background-grey-dark has-text-white-ter">
        <div class="container">
          <div class="navbar-brand">
            <div class="navbar-item has-text-white-ter">
              <%= image_tag "logo-menu.png" %>
            </div>

            <div class="navbar-burger burger has-text-white-ter" data-show="quickview" data-target="left-sidebar">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div class="navbar-burger burger has-text-white-ter desktop-burger is-hidden-touch" data-show="quickview" data-target="left-sidebar">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
          
        <%= render "layouts/sidebar" %>
      </nav>
    <% end %>

    <section class="section">
      <div class="container">
        <% if alert %>
          <div class="notification is-danger"><%= alert %></div>
        <% elsif notice %>
          <div class="notification is-success"><%= notice %></div>
        <% end%>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
